{% extends '@core/notifications/layout.html.twig' %}

{% block content %}
    <p>
        Task <b>{{ parameters.name }}</b> has been updated.
    </p>
    <p>
        Text: <b>{{ parameters.text|striptags }}</b>.
    </p>
{% endblock %}

{% block footer %}
    Please do not reply to this email.<br>
{% endblock %}
